<p>profile works!</p>

<div *ngFor="let y of karyawan">
    ID: {{ y.id }} <br>
    Nama: {{ y.first_name }} {{ y.last_name }} <br>
    Email: {{ y.email }}
    <hr>
</div>

<br>
<hr>
<div *ngIf="karwayanTerpilih.id !== 0">
    Karyawan Terpilih: <br>
    NIK karyawan: {{ karwayanTerpilih.id }} <br>
    Nama karyawan: {{ karwayanTerpilih.first_name }} {{ karwayanTerpilih.last_name }}
</div>
<div *ngIf="karwayanTerpilih.id === 0">
<h2>Tidak ada Karyawan yang Terpilih!</h2>
</div>

<button (click)="tambahData()">Add</button>
